<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content1">

<div class="p-3">
    <div class="card">
        <div class="card-header">
            <b>Patients</b>
        </div>
        <div class="card-body">
            <form th:action="@{index}" method="get" class="form-inline d-flex align-items-center">
                <label class="me-2">Keyword:</label>
                <input type="text" name="keyword" class="form-control me-2">
                <button type="submit" class="btn btn-primary">Chercher</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Date de Naissance</th>
                    <th>Malade</th>
                    <th>Score</th>
                    <th th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Options</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${patients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${#dates.format(p.dateNaissance, 'dd-MM-yyyy')}"></td>
                    <td th:text="${p.isMalade ? 'Oui' : 'Non'}"></td>
                    <td th:text="${p.score}"></td>
                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a onclick="return confirm('Are you sure?')" th:href="@{/admin/delete(id=${p.id}, page=${currentPage}, keyword=${keyword})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{/admin/editPatient(id=${p.id}, page=${currentPage}, keyword=${keyword})}" class="btn btn-outline-success">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills justify-content-center">
                <li th:each="page, status : ${pages}">
                    <a th:href="@{/user/index(page=${status.index}, keyword=${keyword})}"
                       th:class="${currentPage==status.index?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                       th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>